<% content_for(:refresh) { refresh_button_to 'Enqueue pending', enqueues_path } %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Version</th>
      <th>Deploy</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <tr class="table-default">
        <td><%= build.version %></td>
        <td>
          on <%= l build.deploy_at.in_time_zone, format: :verbose %>
        </td>
        <td></td>
        <% if build.has_valid_manifest? %>
        <td>
          <%= link_to 'Install', manifest_url(build.manifest), class: "btn btn-link" %>
        </td>
        <% else %>
        <td>
          <%= link_to 'Download', rails_blob_url(build.package, disposition: 'attachment') %>
        </td>
        <% end %>
      </tr>
      <% build.deploys.each do |deploy| %>
        <tr class="<%= table_class_for(deploy) %>">
          <td></td>
          <td>
            after <%= pluralize deploy.timeslot.delay_in_hours, 'hour' %>
            for <%= prefixes_for deploy.timeslot %> devices
          </td>
          <td><%= deploy.status %></td>
          <% if deploy.scheduled? %>
          <td><%= cancel_deploy_button(deploy.id) %></td>
          <% else %>
          <td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
