<% content_for(:refresh) { refresh_button_to 'Enqueue pending', enqueues_path } %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Version</th>
      <th>Deploy</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <tr class="table-default">
        <td><%= build.version %></td>
        <td>
          on <%= l build.deploy_at.in_time_zone, format: :verbose %>
        </td>
        <td></td>
        <% if build.has_valid_manifest? %>
        <td>
          <%= link_to 'Install', manifest_url(build.manifest), class: "btn btn-link" %>
        </td>
        <% else %>
        <td>
          <%= link_to 'Download', rails_blob_url(build.package, disposition: 'attachment') %>
        </td>
        <% end %>
      </tr>
      <tr class="<%= table_class_for(build.deploy) %>">
        <td></td>
        <td>Deploy #<%= build.deploy.id %></td>
        <td><%= build.deploy.status %></td>
        <% if build.deploy.scheduled? %>
        <td><%= cancel_deploy_button(build.deploy.id) %></td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
