<%= form_with(model: @build) do |form| %>
  <%= fieldset '1. Select a file to upload' do %>
    <div class="form-group">
      <%= form.label :package, 'Choose the .ipa package for this build:', class: 'sr-only' %>
      <% if @build.errors[:package_attachment].any? %>
        <%= form.file_field :package, class: 'form-control-file is-invalid form-control' %>
        <div class="invalid-feedback"><%= @build.errors.full_messages_for(:package_attachment).to_sentence %>.</div>
      <% else %>
        <%= form.file_field :package, class: 'form-control-file form-control' %>
      <% end %>
    </div>
  <% end %>

  <%= fieldset "2. Indicate a version, date, and time to deploy in #{Time.zone.name}" do %>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= form.label :version, class: 'sr-only' %>
        <% if @build.errors[:version].any? %>
          <%= form.number_field :version, class: 'form-control is-invalid', placeholder: 'Version number' %>
          <div class="invalid-feedback"><%= @build.errors.full_messages_for(:version).to_sentence %>.</div>
        <% else %>
          <%= form.number_field :version, class: 'form-control', placeholder: 'Version number' %>
        <% end %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :deploy_date, class: 'sr-only' %>
        <% if @build.errors[:deploy_date].any? %>
          <%= form.date_field :deploy_date, class: 'form-control is-invalid' %>
          <div class="invalid-feedback"><%= @build.errors.full_messages_for(:deploy_date).to_sentence %>.</div>
        <% else %>
          <%= form.date_field :deploy_date, class: 'form-control' %>
        <% end %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :deploy_time, class: 'sr-only' %>
        <% if @build.errors[:deploy_time].any? %>
          <%= form.time_field :deploy_time, class: 'form-control is-invalid' %>
          <div class="invalid-feedback"><%= @build.errors.full_messages_for(:deploy_time).to_sentence %>.</div>
        <% else %>
          <%= form.time_field :deploy_time, class: 'form-control' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <hr />
  <button type="submit" class="btn btn-primary">Upload and deploy</button>
<% end %>
