<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clutter - MDMA</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.4/css/all.css">
  <style>
    .navbar-light .navbar-nav .nav-link { color: #004085 }
    .navbar-light .navbar-nav .active .nav-link { color: #007bff }
  </style>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.1.1/turbolinks.js"></script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <span class="navbar-brand">
        <%= navbar_brand %>
      </span>
      <% if logged_in? %>
        <ul class="navbar-nav mr-auto">
          <%= nav_link_to 'Show builds', root_path, icon: 'archive' %>
          <%= nav_link_to 'Show devices', devices_path, icon: 'mobile' %>
          <%= nav_link_to 'Show timeslots', timeslots_path, icon: 'clock' %>
          <%= nav_link_to 'Upload new build', new_build_path, icon: 'cloud-upload-alt' %>
        </ul>
        <%= yield :refresh %>
      <% end %>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
